<% provide(:title, 'About us') %>

	<h5> Если вы испытываете трудности - вы всегда можете нажать сюда -
<%=link_to" Помощь ",static_pages_help_path %>
</h5>

<table>
	<h2> О Нас: </h2>

	<p>БОЛЬШОЙ И ДЛИННЫЙ ТЕКСТ ПРО ТО КАКИЕ МЫ КРУТЫЕ!!</p>
</table>
