<% provide(:title, 'About us') %>

	


<table>
	<h1> О Нас: </h1>
<h5> Если вы испытываете трудности - вы всегда можете нажать сюда -
<%=link_to" Помощь ",help_path %></h5>
	<h2>---------------------------------------</h2>
</table>
